<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit Personals</h3>
            <form method="POST" action="/profilos/<%= profiloedit._id %>?_method=PUT" novalidate class="needs-validation">

                <div class="mb-3">
                    <label for="name" class="form-label">Enter Your Name </label>
                    <input name="personal[name]" value="<%= profiloedit.name %>" placeholder="Name please" type="text" class="form-control" required />
                    <div class="valid-feedback">Name looks Good!</div>
                    <div class="invalid-feedback">Name not looks Good!</div>
                </div>

                <div class="mb-3">
                    <label for="title" class="form-label">Title: </label>
                    <input name="personal[title]" value="<%= profiloedit.title %>" placeholder="AI Enginner" class="form-control" required />
                    <div class="valid-feedback">Title looks Good!</div>
                    <div class="invalid-feedback">Title not looks Good!</div>
                </div>

                <div class="mb-3">
                    <label for="description" class="form-label">Image please: </label>
                    <input name="personal[pro_image][url]" value="<%= profiloedit.pro_image.url %>" placeholder="enter a URL / Link" type="text"
                        class="form-control" />
                </div>

                <div class="mb-3">
                    <label for="title_description" class="form-label">Title Description: </label>
                    <textarea name="personal[title_description]"  type="number" class="form-control"> <%= profiloedit.title_description %>" </textarea>
                    <div class="valid-feedback">Title Description looks Good!</div>
                    <div class="invalid-feedback">Title Description not looks Good!</div>
                </div>

                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="country" class="form-label">Country: </label>
                        <input name="personal[country]" value="<%= profiloedit.country %>" placeholder="India" type="text" class="form-control" required>
                        <div class="valid-feedback">Country looks Good!</div>
                        <div class="invalid-feedback">Country not looks Good!</div>
                    </div>

                    <div class="mb-3 col-8">
                        <label for="location" class="form-label">Location: </label>
                        <input name="personal[location]" value="<%= profiloedit.location %>" type="text" placeholder="Bengaluru" class="form-control"
                            required>
                        <div class="valid-feedback">Location looks Good!</div>
                        <div class="invalid-feedback">Location not looks Good!</div>
                    </div>

                    <div class="mb-3 col-8">
                        <label for="phone" class="form-label">Phone Number: </label>
                        <input name="personal[phone]" value="<%= profiloedit.phone %>" type="number" placeholder="Bengaluru" class="form-control"
                            required>
                        <div class="valid-feedback">Phone Number looks Good!</div>
                        <div class="invalid-feedback">Phone Number not looks Good!</div>
                    </div>

                    <div class="mb-3">
                        <label for="linkedIn" class="form-label">LinkedIn: </label>
                        <input name="personal[linkedIn]" value="<%= profiloedit.linkedIn %>" placeholder="enter a URL / Link" type="text"
                            class="form-control" />
                    </div>

                    <div class="mb-3">
                        <label for="twitter" class="form-label">Twitter: </label>
                        <input name="personal[twitter]" value="<%= profiloedit.twitter %>" placeholder="enter a URL / Link" type="text"
                            class="form-control" />
                    </div>


                </div>


                <br><br>

                <button class="btn btn-dark add-btn">ADD</button>

                <br><br>

            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>

    <script src="/js/script.js"></script>
</body>

</html>